* {
  font-family: Helvetica;
}

.nav {
  background-color: silver;
}

a {
  color: black;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("../images/pattern.jpeg");
}

/*
######## Content of the page
*/
h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.mediumspringgreencolor {
  background-color: mediumspringgreen;
}

.lightcoralcolor {
  background-color: lightcoral;
}

.skybluecolor {
  background-color: skyblue;
}

.prijs {
  font-weight: bold;
  color: blue;
}
